<div class="container d-flex align-items-center justify-content-center h-100">
    <div class="row pt-5">
        <div class="col-xl-12 text-center">
            <i class="fa-duotone fa-diamond-exclamation"></i>
            <h1>404 </h1>
            <h3>Sitio web no encontrado</h3>
            <a href="/" class="btn btn-primary mt-4">Regresar</a>
        </div>
    </div>
</div>