<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1>Welcome</h1>
            <h5>Sistema de Solicitud y reporte de mantenimientos</h5>

        </div>
    </header>
</main>